html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.main-cont {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rail-madad-container {
    background-color: black;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.rail-madad-title {
    position: relative;
    opacity: 0; 
    font-size: 4vw; 
    font-weight: bold;
    color: #FDFCDC; 
    animation: slideIn 5s ease-in-out forwards, zoomOut 7s ease-in-out 5s forwards;
}

.rail-madad-description {
    position: relative;
    opacity: 0;
    font-size: 1vw;
    margin-top: 10px; 
    color: #FDFCDC; 
    animation: fadeIn 3s ease-in-out 2s forwards, zoomOut 7s ease-in-out 6s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%); 
        opacity: 0;
    }
    to {
        transform: translateX(0); 
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1); 
        opacity: 1;
    }
    to {
        transform: scale(3); 
        opacity: 0; 
    }
}
