html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('homebg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(7px);
  z-index: -1;
  font-family: 'Arial', sans-serif;
}

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-brand img {
  width: 50px;
  height: auto;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  color: white;
  align-items: center;
}

.navbar-brand div {
  color: #0077b6;
  font-weight:bolder;
  font-family: 'Times New Roman';
}

.nav-item a {
  color: #ced4da;
  transition: 0.1s;
}

.image-container {
  margin-top: 80px; 
}

.image-box {
  text-align: center;
}

.image-box img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: -520px;
  margin-left: 730px;
  padding: 20px;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  width: 600px;
  
}

p{
  font-weight: 500;
  color: white;
}

h4{
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
}

.form-control{
  margin-bottom: 20px;
}

.btn-primary{
  margin-left: 220px;
  width: 145px;
  margin-top: 10px;
}


.links{
  margin: 150px 40px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 8px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  width: 600px;
  height: 300px;
}


.row1{
  margin-top: 10px;
  display: flex;
  margin-bottom: -20px;
}

.row2{
  display: flex;
}